<div class="social-footer-project">
  <div class="social-icons" style="justify-content: center;">
    <a target="_blank" href="mailto:oscardenamiel@gmail.com" class="social-icon" aria-label="Send email">
      <img class="icon" src="/images/Email.svg" alt="">
    </a>
    <a target="_blank" href="https://wa.link/92htwm" class="social-icon" aria-label="Contact on WhatsApp">
      <img class="icon" src="/images/WhatsApp.svg" alt="">
    </a>
    <a target="_blank" href="https://www.instagram.com/oscardenamiel/" class="social-icon" aria-label="Instagram profile">
      <img class="icon" src="/images/Instagram.svg" alt="">
    </a>
    <a target="_blank" href="https://linkedin.com/in/oscardenamiel" class="social-icon" aria-label="LinkedIn profile">
      <img class="icon" src="/images/LinkedIn 2.svg" alt="">
    </a>
  </div>
  <p class="footer-text-sm">Website design and content © 2026 Oscar Denamiel.</p>
</div>
