<div class="container-full section-spacer">
  <h3 style="text-align: center;">More projects</h3>
  <div class="more-projects-grid-no-home" style="padding-top: 20px;">

    <div class="project-card">
      <div class="project-image-container">
        <img src="/images/projects/smart-suggester/Smart Suggester Thumbnail.webp" alt="Smart Suggester" class="project-image">
        <div class="tooltip-container">
          <button class="audio-control" aria-label="Play audio">
            <img class="icon play-icon" src="/images/speaker-icon.svg" alt="">
            <img class="icon pause-icon hidden" src="/images/pause-icon.svg" alt="">
          </button>
          <span class="tooltip tooltip-text">Hear preview</span>
        </div>
      </div>
      <a href="/smart-suggester" class="card-content-link">
        <div class="card-content">
          <h3 class="card-title">Smart Suggester</h3>
          <p class="card-description">Led redesign of Stayforlong's search engine. Reduced search time (40%) and increased traffic to next step (9%).</p>
          <div class="card-actions">
            <div class="tooltip-container-button">
              <span class="btn-primary"><span class="arrow-icon"></span></span>
              <span class="tooltip tooltip-text tooltip-button">Read case study</span>
            </div>
          </div>
        </div>
      </a>
      <audio class="project-audio" preload="none">
        <source src="/audio/smart-suggester.mp3" type="audio/mpeg">
      </audio>
    </div>

    <div class="project-card">
      <div class="project-image-container">
        <img src="/images/projects/mobile-first/Mobile-first Thumbnail.webp" alt="Mobile First" class="project-image">
        <div class="tooltip-container">
          <button class="audio-control" aria-label="Play audio">
            <img class="icon play-icon" src="/images/speaker-icon.svg" alt="">
            <img class="icon pause-icon hidden" src="/images/pause-icon.svg" alt="">
          </button>
          <span class="tooltip tooltip-text">Hear preview</span>
        </div>
      </div>
      <a href="/mobile-first" class="card-content-link">
        <div class="card-content">
          <h3 class="card-title">Mobile First</h3>
          <p class="card-description">Led reconceptualization for the mobile experience at Leadtech. Reduced refunds (-12%) and increased daily profit (+7%).</p>
          <div class="card-actions">
            <div class="tooltip-container-button">
              <span class="btn-primary"><span class="arrow-icon"></span></span>
              <span class="tooltip tooltip-text tooltip-button">Read case study</span>
            </div>
          </div>
        </div>
      </a>
      <audio class="project-audio" preload="none">
        <source src="/audio/mobile-first.mp3" type="audio/mpeg">
      </audio>
    </div>

  </div>
</div>
