<div class="mobile-menu-overlay" id="mobile-menu-overlay"></div>
<aside class="sidebar" id="sidebar">
  <a href="/" class="home-button">
    <img class="sidenav-icon-home" src="/images/home-icon.svg" alt="">
  </a>
  <nav class="sidebar-nav">
    <a class="home-button-mobile" href="/"><img class="sidenav-icon" src="/images/home-icon.svg" alt="">Home</a>
    <a href="/map"><img class="sidenav-icon" src="/images/project-icon.svg" alt="">Projects</a>
    <a href="/about"><img class="sidenav-icon" src="/images/about-icon.svg" alt="">About</a>
    <a href="https://www.linkedin.com/in/oscardenamiel/" target="_blank"><img class="sidenav-icon" src="/images/linkedin-icon.svg" alt="">LinkedIn</a>
    <a href="https://drive.google.com/uc?export=download&id=1nvxUNm1693SgYEKQGExxxnDI-gNvVTKF"><img class="sidenav-icon" src="/images/cv-icon.svg" alt="">Get CV</a>
  </nav>
  <button class="dark-mode-toggle-btn" aria-label="Toggle dark mode">
    <img class="dark-mode-icon-img" src="/images/moon-icon.svg" alt="">
  </button>
</aside>
