<header class="header">
  <nav class="header-nav">
    <button class="hamburger-menu" id="hamburger-menu" aria-label="Open menu" aria-expanded="false" aria-controls="sidebar">
      <span class="hamburger-menu__line"></span>
      <span class="hamburger-menu__line"></span>
      <span class="hamburger-menu__line"></span>
    </button>
    <a href="/" class="header-logo">Oscar Denamiel</a>
  </nav>
  <nav class="header-nav">
    <button class="dark-mode-toggle-btn" aria-label="Toggle dark mode">
      <img class="dark-mode-icon-img" src="/images/sun-icon.svg" alt="">
    </button>
  </nav>
</header>
